/* ÉVERD LOEBENS
RU: 4695252 */
* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
header{
    overflow: initial;
    height: 100%;     
}

/* estilos basicos */

.baner-contatos {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 8rem;
    padding: 3px;
    margin: 3px;
}
.text-baner-contatos{
    position: absolute;
    width: 100%;
    top: 15.5rem;
    text-align: center;
    line-height: 2.5rem;
    right: 0.5%;        
}
.baner-contatos h1{
    width: 100%;
    color: #d24b4b;
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: .3rem .4rem 2px rgb(0,0,0,0.404);
    animation: moveBanner 2s forwards;
}

.baner-contatos p {
    font-size: 1.5rem;
    color: #f3eded;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.404);
    animation: moveBanner 2s forwards;
    }
    .contatos-foto {
        text-align: center;        
    }   
    .contatos-foto img {
        border-radius: 50%;
        border: 2px solid black;
        width: 15rem;
        animation: zoom 5s;           
    }
    .contato img{
        width: 30%;
        object-fit: cover;
        padding: 1rem;    
    }
    .contato img:hover{
        transform: scale(1.1);    
    }
    .contato h3{
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
    }

/* outros estilos */

.sessao-contatos{ 
    display: grid;
    grid-template-columns: 31.8% 31.8% 31.8%;
    grid-template-rows: 11rem  11rem 11rem;  
    gap: 5px;
    position: absolute;
    top: 30rem;
    width: 100%;
    height: 100%; 
    animation: zoom 2s; 
    text-align: center; 
    justify-content: center;
    align-items: baseline;
    background-color: #2b4c7b;
    border: solid 2px #d24b4b;
      
}
@media (min-width:1024px){
    .sessao-contatos{ 
        grid-template-rows: 9rem  9rem 9rem;
    }
    .contato img{
        width: 15%;
        object-fit: cover;
        padding: 0.5rem;
    }
}

.contatos{
    width: 100%;
    height: 8rem;     
}
.contato{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.contato-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}
